.satu {
    width: 200px;
    height: 500px;
    background-color: lightblue;
    overflow: scroll;
}

.dua {
    width: 100%;
    background-color: lightcoral;
}

.tiga {
    width: 80%;
    background-color: lightgreen;
    display: flex;
    justify-content: end;
}

.empat {
    width: 120%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
}

.satu div.lima {
    
}