body {
    height: 1000px;
}

.container {
    width: 450px;
    height: 450px;
    border: 10px solid black;
    margin: 50px auto;
    position: relative;
}

.satu, .dua, .tiga {
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
}

.satu {
    background-color: lightgreen;
    z-index: 1;
}

.dua {
    background-color: lightblue;
    top: 75px;
    left: 75px;
    z-index: 2;
}

.tiga {
    background-color: lightcoral;
    top: 150px;
    left: 150px;
    z-index: 3;    
}

.top-bar {
    height: 40px;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.9;
    z-index: 99999;
}

.ads {
    background-color: rgba(0,0,0,0.7);
    border: 5px solid gray;
    box-sizing: border-box;
    font: bold 20px/48px helvetica, arial, sans-serif;
    color: white;
    text-align: justify;
    padding: 20px;
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    /* opacity: 0.7; */
    z-index: 88888;
}

.close {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px; 
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}

.close a {
    text-decoration: none;
    color: black;
    /* border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.close a:hover {
    /* background-color: white;
    color: black; */
    font-size: 25px;  
}