div {
    width: 300px;
    height: 300px;
    margin: 50px auto;
}

.satu {
    background-image: linear-gradient(to bottom left, red, purple, rgba(255, 150, 0, .8), blue);
}

.dua {
    background-image: linear-gradient(90deg, red 50%, salmon 80%);
    border-radius: 50%;
}

.tiga {
    background-image: linear-gradient(to bottom, red 70%, black 30%);
    border-radius: 50%;
    box-shadow: 0px 20px 10px -5px rgba(0, 0, 0, .75);
    transition: .3s;
}

.tiga:hover {
    box-shadow: 0px 50px 10px -10px rgba(0, 0, 0, .25);
    margin-top: 80px;
}